<b>
  Add a Car
</b>
<div id="theForm">
    <form #f="ngForm" name="theForm" (submit)="addCar(f)">
      <div class="form-group">
        <label>Model</label>
        <input type="text"
              class="form-control"
              name="model"
              [(ngModel)]="car.model"
              #carModel="ngModel"
              required
              pattern="^[a-zA-Z]+$">
        <span class="help-block danger" *ngIf="carModel.errors?.required && carModel.touched">
          The model name is required
        </span>
        <span class="help-block danger" *ngIf="carModel.errors?.pattern && carModel.touched">
          The model name can only contain the letters a-z or A-Z
        </span>
      </div>
  
      <div class="form-group">
        <label>Price</label>
        <input type="number"
              class="form-control"
              name="price"
              required
              [(ngModel)]="car.price"
              #carPrice="ngModel">
        <span class="help-block danger" *ngIf="carPrice.errors?.required && carPrice.touched">
          The price is required
        </span>
      </div>
  
      <button
          class="btn btn-primary btn-sm"
          [disabled]="f.invalid">Add</button>
    </form>
  </div>